.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $fontDefault;
    background-color: rgba(238, 228, 228, 0.986);
    &>h3{
        font-size: 28pt;
        margin: 5vh 40% 1vh 6%;
    }
    section{
        display: flex;
        justify-content: space-around;
        width: 80vw;
        div{
            p:nth-child(1){  
                font-weight: bold;
            }
        }
    }
}